/* reset */
* {
	margin:0;
	padding:0;
}

/*  ceasul */
#ceas {
	width:370px;
	padding:40px;
	margin:200px auto 60px;
	position:relative;
}

#ceas:after{
	content:'';
	position:absolute;
	width:400px;
	height:20px;
	border-radius:100%;
	left:50%;
	margin-left:-200px;
	bottom:2px;
	z-index:-1;
}


#ceas.afisaj{
	text-align:center;
	padding: 40px 20px 20px;
	border-radius:6px;
	position:relative;
	height: 54px;
}


/*-------------------------
	Light color theme
--------------------------*/


#ceas.light{
	background-color:#f3f3f3;
	color:#272e38;
}

#ceas.light:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

#ceas.light .cifre div span{
	background-color:#272e38;
	border-color:#272e38;	
}

#ceas.light .cifre div.puncte:before,
#ceas.light .cifre div.puncte:after{
	background-color:#272e38;
}

#ceas.light .alarma .activ{
    background-color: gray;
}

#ceas.light .afisaj{
	background-color:#dddddd;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
}


/*-------------------------
	Dark color theme
--------------------------*/


#ceas.dark{
	background-color:#272e38;
	color:#cacaca;
}

#ceas.dark:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

#ceas.dark .cifre div span{
	background-color:#cacaca;
	border-color:#cacaca;	
}

#ceas.dark .alarma{
	background-color: black;
}

#ceas.dark .afisaj{
	background-color:#0f1620;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #2d3642;
}

#ceas.dark .cifre div.puncte:before,
#ceas.dark .cifre div.puncte:after{
	background-color:#cacaca;
}


/*-------------------------
	The Digits
--------------------------*/


#ceas .cifre div{
	text-align:left;
	position:relative;
	width: 28px;
	height:50px;
	display:inline-block;
	margin:0 4px;
}

#ceas .cifre div span{
	opacity:0;
	position:absolute;

	-webkit-transition:0.25s;
	-moz-transition:0.25s;
	transition:0.25s;
}

#ceas .cifre div span:before,
#ceas .cifre div span:after{
	content:'';
	position:absolute;
	width:0;
	height:0;
	border:5px solid transparent;
}

#ceas .cifre .p1{			height:5px;width:16px;top:0;left:6px;}
#ceas .cifre .p1:before{	border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}
#ceas .cifre .p1:after{	border-width:0 0 5px 5px;border-left-color:inherit;right:-5px;}

#ceas .cifre .p2{			height:5px;width:16px;top:24px;left:6px;}
#ceas .cifre .p2:before{	border-width:3px 4px 2px;border-right-color:inherit;left:-8px;}
#ceas .cifre .p2:after{	border-width:3px 4px 2px;border-left-color:inherit;right:-8px;}

#ceas .cifre .p3{			height:5px;width:16px;top:48px;left:6px;}
#ceas .cifre .p3:before{	border-width:5px 5px 0 0;border-right-color:inherit;left:-5px;}
#ceas .cifre .p3:after{	border-width:5px 0 0 5px;border-left-color:inherit;right:-5px;}

#ceas .cifre .p4{			width:5px;height:14px;top:7px;left:0;}
#ceas .cifre .p4:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
#ceas .cifre .p4:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

#ceas .cifre .p5{			width:5px;height:14px;top:7px;right:0;}
#ceas .cifre .p5:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
#ceas .cifre .p5:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}

#ceas .cifre .p6{			width:5px;height:14px;top:32px;left:0;}
#ceas .cifre .p6:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
#ceas .cifre .p6:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

#ceas .cifre .p7{			width:5px;height:14px;top:32px;right:0;}
#ceas .cifre .p7:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
#ceas .cifre .p7:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}


/* 1 */

#ceas .cifre div.unu .p5,
#ceas .cifre div.unu .p7{
	opacity:1;
}

/* 2 */

#ceas .cifre div.doi .p1,
#ceas .cifre div.doi .p5,
#ceas .cifre div.doi .p2,
#ceas .cifre div.doi .p6,
#ceas .cifre div.doi .p3{
	opacity:1;
}

/* 3 */

#ceas .cifre div.trei .p1,
#ceas .cifre div.trei .p5,
#ceas .cifre div.trei .p2,
#ceas .cifre div.trei .p7,
#ceas .cifre div.trei .p3{
	opacity:1;
}

/* 4 */

#ceas .cifre div.patru .p5,
#ceas .cifre div.patru .p2,
#ceas .cifre div.patru .p4,
#ceas .cifre div.patru .p7{
	opacity:1;
}

/* 5 */

#ceas .cifre div.cinci .p1,
#ceas .cifre div.cinci .p2,
#ceas .cifre div.cinci .p4,
#ceas .cifre div.cinci .p3,
#ceas .cifre div.cinci .p7{
	opacity:1;
}

/* 6 */

#ceas .cifre div.sase .p1,
#ceas .cifre div.sase .p2,
#ceas .cifre div.sase .p4,
#ceas .cifre div.sase .p3,
#ceas .cifre div.sase .p6,
#ceas .cifre div.sase .p7{
	opacity:1;
}


/* 7 */

#ceas .cifre div.sapte .p1,
#ceas .cifre div.sapte .p5,
#ceas .cifre div.sapte .p7{
	opacity:1;
}

/* 8 */

#ceas .cifre div.opt .p1,
#ceas .cifre div.opt .p2,
#ceas .cifre div.opt .p3,
#ceas .cifre div.opt .p4,
#ceas .cifre div.opt .p5,
#ceas .cifre div.opt .p6,
#ceas .cifre div.opt .p7{
	opacity:1;
}

/* 9 */

#ceas .cifre div.noua .p1,
#ceas .cifre div.noua .p2,
#ceas .cifre div.noua .p3,
#ceas .cifre div.noua .p4,
#ceas .cifre div.noua .p5,
#ceas .cifre div.noua .p7{
	opacity:1;
}

/* 0 */

#ceas .cifre div.zero .p1,
#ceas .cifre div.zero .p3,
#ceas .cifre div.zero .p4,
#ceas .cifre div.zero .p5,
#ceas .cifre div.zero .p6,
#ceas .cifre div.zero .p7{
	opacity:1;
}


/* The dots */

#ceas .cifre div.puncte{
	width:5px;
}

#ceas .cifre div.puncte:before,
#ceas .cifre div.puncte:after{
	width:5px;
	height:5px;
	content:'';
	position:absolute;
	left:0;
	top:14px;
}

#ceas .cifre div.puncte:after{
	top:34px;
}


/*-------------------------
	The Alarm
--------------------------*/


#ceas .alarma{
	width:16px;
	height:16px;
	bottom:20px;
	/* background:url('../img/alarm_light.jpg'); */
	position:absolute;
	opacity:0.2;
}

#ceas .alarma.activ{
	opacity:1;
}


/*-------------------------
	Weekdays
--------------------------*/


#ceas .zile{
	font-size:12px;
	position:absolute;
	width:100%;
	top:10px;
	left:0;
	text-align:center;
}


#ceas .zile span{
	opacity:0.2;
	padding:0 10px;
}

#ceas .zile span.activ{
	opacity:1;
}


		/* AM/PM */
#ceas .format12_24{
	position:absolute;
	bottom:20px;
	right:20px;
	font-size:12px;
}




main {
	color: white;
    background-color: black;
}

.mdl-layout__header {
    background-color: red;
}