/*Reset*/

* {
    margin: 0;
}


/*General*/

html {
    background-color: black;
    overflow: hidden;
}

body {
    font: 15px/1.3 Arial, sans-serif;
    color: black;
    z-index: 1;
}

a,
a:visited {
    outline: none;
    color: darkred;
}

a:hover {
    text-decoration: none;
}

section,
footer,
header,
aside {
    display: block;
}


/*Ceasul*/

#ceas {
    width: 370px;
    margin: 20px auto 60px;
    position: relative;
    text-align: center;
    padding: 40px 20px 20px;
    height: 54px;
    zoom: 1;
    background-color: black;
    color: gray;
}

@media screen and (max-width: 420) {
    #clock {
        zoom: 0;
    }
}


/* The dots */

#ceas .cifre div span {
    background-color: gray;
    border-color: gray;
}

#ceas .cifre div.douapuncte {
    width: 5px;
}

#ceas .cifre div.douapuncte:before,
#ceas .cifre div.douapuncte:after {
    width: 5px;
    height: 5px;
    content: '';
    position: absolute;
    left: 0;
    top: 14px;
    background-color: gray;
}

#ceas .cifre div.douapuncte:after {
    top: 34px;
}


/*  Alarma */

#ceas .alarma {
    width: 16px;
    height: 16px;
    bottom: 20px;
    position: absolute;
    opacity: 0.2;
    left: 30px;
}

#ceas .alarma.active {
    opacity: 1;
}


/*-------------------------
	Weekdays
--------------------------*/

#ceas .zile {
    font-size: 12px;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-align: center;
}

#ceas .zile span {
    opacity: 0.2;
    padding: 0 10px;
}

#ceas .zile span.active {
    opacity: 1;
}


/*-------------------------
		AM/PM
--------------------------*/

#ceas .zinoapte {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
}


/*-------------------------
	The Digits
--------------------------*/

#ceas .cifre div {
    text-align: left;
    position: relative;
    width: 28px;
    height: 50px;
    display: inline-block;
    margin: 0 4px;
}

#ceas .cifre div span {
    opacity: 0;
    position: absolute;
}

#ceas .cifre div span:before,
#ceas .cifre div span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
}

#ceas .cifre .segment1 {
    height: 5px;
    width: 16px;
    top: 0;
    left: 6px;
}

#ceas .cifre .segment1:before {
    border-width: 0 5px 5px 0;
    border-right-color: inherit;
    left: -5px;
}

#ceas .cifre .segment1:after {
    border-width: 0 0 5px 5px;
    border-left-color: inherit;
    right: -5px;
}

#ceas .cifre .segment2 {
    height: 5px;
    width: 16px;
    top: 24px;
    left: 6px;
}

#ceas .cifre .segment2:before {
    border-width: 3px 4px 2px;
    border-right-color: inherit;
    left: -8px;
}

#ceas .cifre .segment2:after {
    border-width: 3px 4px 2px;
    border-left-color: inherit;
    right: -8px;
}

#ceas .cifre .segment3 {
    height: 5px;
    width: 16px;
    top: 48px;
    left: 6px;
}

#ceas .cifre .segment3:before {
    border-width: 5px 5px 0 0;
    border-right-color: inherit;
    left: -5px;
}

#ceas .cifre .segment3:after {
    border-width: 5px 0 0 5px;
    border-left-color: inherit;
    right: -5px;
}

#ceas .cifre .segment4 {
    width: 5px;
    height: 14px;
    top: 7px;
    left: 0;
}

#ceas .cifre .segment4:before {
    border-width: 0 5px 5px 0;
    border-bottom-color: inherit;
    top: -5px;
}

#ceas .cifre .segment4:after {
    border-width: 0 0 5px 5px;
    border-left-color: inherit;
    bottom: -5px;
}

#ceas .cifre .segment5 {
    width: 5px;
    height: 14px;
    top: 7px;
    right: 0;
}

#ceas .cifre .segment5:before {
    border-width: 0 0 5px 5px;
    border-bottom-color: inherit;
    top: -5px;
}

#ceas .cifre .segment5:after {
    border-width: 5px 0 0 5px;
    border-top-color: inherit;
    bottom: -5px;
}

#ceas .cifre .segment6 {
    width: 5px;
    height: 14px;
    top: 32px;
    left: 0;
}

#ceas .cifre .segment6:before {
    border-width: 0 5px 5px 0;
    border-bottom-color: inherit;
    top: -5px;
}

#ceas .cifre .segment6:after {
    border-width: 0 0 5px 5px;
    border-left-color: inherit;
    bottom: -5px;
}

#ceas .cifre .segment7 {
    width: 5px;
    height: 14px;
    top: 32px;
    right: 0;
}

#ceas .cifre .segment7:before {
    border-width: 0 0 5px 5px;
    border-bottom-color: inherit;
    top: -5px;
}

#ceas .cifre .segment7:after {
    border-width: 5px 0 0 5px;
    border-top-color: inherit;
    bottom: -5px;
}


/* 1 */

#ceas .cifre div.unu .segment5,
#ceas .cifre div.unu .segment7 {
    opacity: 1;
}


/* 2 */

#ceas .cifre div.doi .segment1,
#ceas .cifre div.doi .segment5,
#ceas .cifre div.doi .segment2,
#ceas .cifre div.doi .segment6,
#ceas .cifre div.doi .segment3 {
    opacity: 1;
}


/* 3 */

#ceas .cifre div.trei .segment1,
#ceas .cifre div.trei .segment5,
#ceas .cifre div.trei .segment2,
#ceas .cifre div.trei .segment7,
#ceas .cifre div.trei .segment3 {
    opacity: 1;
}


/* 4 */

#ceas .cifre div.patru .segment5,
#ceas .cifre div.patru .segment2,
#ceas .cifre div.patru .segment4,
#ceas .cifre div.patru .segment7 {
    opacity: 1;
}


/* 5 */

#ceas .cifre div.cinci .segment1,
#ceas .cifre div.cinci .segment2,
#ceas .cifre div.cinci .segment4,
#ceas .cifre div.cinci .segment3,
#ceas .cifre div.cinci .segment7 {
    opacity: 1;
}


/* 6 */

#ceas .cifre div.sase .segment1,
#ceas .cifre div.sase .segment2,
#ceas .cifre div.sase .segment4,
#ceas .cifre div.sase .segment3,
#ceas .cifre div.sase .segment6,
#ceas .cifre div.sase .segment7 {
    opacity: 1;
}


/* 7 */

#ceas .cifre div.sapte .segment1,
#ceas .cifre div.sapte .segment5,
#ceas .cifre div.sapte .segment7 {
    opacity: 1;
}


/* 8 */

#ceas .cifre div.opt .segment1,
#ceas .cifre div.opt .segment2,
#ceas .cifre div.opt .segment3,
#ceas .cifre div.opt .segment4,
#ceas .cifre div.opt .segment5,
#ceas .cifre div.opt .segment6,
#ceas .cifre div.opt .segment7 {
    opacity: 1;
}


/* 9 */

#ceas .cifre div.noua .segment1,
#ceas .cifre div.noua .segment2,
#ceas .cifre div.noua .segment3,
#ceas .cifre div.noua .segment4,
#ceas .cifre div.noua .segment5,
#ceas .cifre div.noua .segment7 {
    opacity: 1;
}


/* 0 */

#ceas .cifre div.zero .segment1,
#ceas .cifre div.zero .segment3,
#ceas .cifre div.zero .segment4,
#ceas .cifre div.zero .segment5,
#ceas .cifre div.zero .segment6,
#ceas .cifre div.zero .segment7 {
    opacity: 1;
}


/*-------------------------
		Button
--------------------------*/

.pozitie-butoane {
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
}

a.buton {
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 2px;
    box-shadow: 0 2px 2px gray;
    color: white;
    text-decoration: none !important;
    padding: 15px 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin: 10px;
}

.buton-setare {
    display: hidden;
    color: azure;
    margin-top: 5px;
    width: 100px;
    height: 22px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

a:hover+.buton-setare,
.buton-setare:hover {
    position: relative;
    color: white;
    background-color: orangered;
}


/*-------------------------
	Alarm Dialog
--------------------------*/

.panou-alarma {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: darkgrey;
    z-index: 10;
}

#msg-alarma,
#timpul-a-expirat {
    width: 500px;
    height: 375px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 8px gray;
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -250px;
    text-align: center;
    zoom: 1;
}

div#msg-alarma.om {
    display: table;
}


/* @media only screen and (max-width: 500px) {
    #alarm-dialog,
    #time-is-up {
        background-color: red;
        zoom: 0;        
    }
} */

#msg-alarma h2 {
    text-transform: uppercase;
    font-size: 18px;
    color: gray;
    padding: 50px 0;
}

#msg-alarma label {
    text-transform: uppercase;
    background-color: lightgray;
    width: 80px;
    height: 62px;
    font-size: 11px;
    display: inline-block;
    padding: 10px;
    margin: 4px;
}

#msg-alarma label input {
    display: block;
    border: 0;
    font: inherit;
    font-size: 17px;
    padding: 6px;
    outline: none;
    text-align: center;
    width: 59px;
    margin: 10px auto;
    background-color: white;
}

#msg-alarma .pozitie-butoane {
    padding-top: 50px;
    padding-bottom: 0;
}

#msg-alarma .pozitie-butoane .buton {
    box-shadow: 0 2px 2px gray;
    padding: 13px 22px;
    margin: 3px;
}

.buton.setare {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.buton.sterge {
    background-color: orangered;
    border-color: orangered;
}

.buton.inchide {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

#msg-alarma .inchide {
    width: 36px;
    height: 36px;
    position: absolute;
    top: -1px;
    right: -10px;
    cursor: pointer;
    color: black;
}

#timpul-a-expirat {
    height: 240px;
}

#timpul-a-expirat h2 {
    padding: 60px 0 40px;
    font-size: 30px;
}

#timpul-a-expirat .buton {
    padding: 12px 20px;
    box-shadow: 0 2px 2px gray;
}

.sterge-linie {
    color: red;
    cursor: pointer;
}

.adauga-linie {
    color: green;
    cursor: pointer;
    position: inherit;
    /* top: 8px; */
    /* right: 0; */
}

table {
    color: #666;
    font-size: 12px;
    background: #eaebec;
    margin: 20px;
    border: #ccc 1px solid;
    border-radius: 3px;
    display: inline-grid;
}

table th {
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px;
}

table th:first-child {
    text-align: left;
    padding-left: 20px;
}

table tr:first-child th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

tr.hide {
    display: none;
}

table tr {
    text-align: center;
    padding-left: 20px;
}

table td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
}

table td {
    padding: 5px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}

table tr:last-child td {
    border-bottom: 0;
}

table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}