/*Reset*/
* {
    margin: 0;
    padding: 0;
}

/*General*/
html {
    background-color: black;
    overflow: hidden;
}

body {
    font: 15px/1.3 Arial, sans-serif;
    color: black;
    z-index: 1;
}

a, a:visited {
    outline: none;
    color: darkred;
}

a:hover {
    text-decoration: none;
}

section,
footer,
header,
aside {
    display: block;
}


/*Ceasul*/
#ceas {
    width: 370px;
    margin: 20px auto 60px;
    position: relative;    
    text-align: center;
    padding: 40px 20px 20px;
    height: 54px;
    zoom: 1;    
}

@media screen and (max-width: 420){
     #clock{
        zoom: 0;        
    }
}



/*-------------------------
	Dark color theme
--------------------------*/

#ceas.dark {
    background-color: black;
    color: azure;
}

/*
#clock.dark:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.3);
}
*/

#ceas.dark .cifre div span {
    background-color: azure;
    border-color: azure;
}

#ceas.dark .alarma {
    background: url('../img/alarm_dark.jpg');
}


#ceas.dark .cifre div.dots:before,
#ceas.dark .cifre div.dots:after {
    background-color: #cacaca;
}


/*-------------------------
	The Digits
--------------------------*/

#ceas .cifre div {
    text-align: left;
    position: relative;
    width: 28px;
    height: 50px;
    display: inline-block;
    margin: 0 4px;
}

#ceas .cifre div span {
    opacity: 0;
    position: absolute;
}

#ceas .cifre div span:before,
#ceas .cifre div span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
}

#ceas .cifre .d1 {
    height: 5px;
    width: 16px;
    top: 0;
    left: 6px;
}

#ceas .cifre .d1:before {
    border-width: 0 5px 5px 0;
    border-right-color: inherit;
    left: -5px;
}

#ceas .cifre .d1:after {
    border-width: 0 0 5px 5px;
    border-left-color: inherit;
    right: -5px;
}

#ceas .cifre .d2 {
    height: 5px;
    width: 16px;
    top: 24px;
    left: 6px;
}

#ceas .cifre .d2:before {
    border-width: 3px 4px 2px;
    border-right-color: inherit;
    left: -8px;
}

#ceas .cifre .d2:after {
    border-width: 3px 4px 2px;
    border-left-color: inherit;
    right: -8px;
}

#ceas .cifre .d3 {
    height: 5px;
    width: 16px;
    top: 48px;
    left: 6px;
}

#ceas .cifre .d3:before {
    border-width: 5px 5px 0 0;
    border-right-color: inherit;
    left: -5px;
}

#ceas .cifre .d3:after {
    border-width: 5px 0 0 5px;
    border-left-color: inherit;
    right: -5px;
}

#ceas .cifre .d4 {
    width: 5px;
    height: 14px;
    top: 7px;
    left: 0;
}

#ceas .cifre .d4:before {
    border-width: 0 5px 5px 0;
    border-bottom-color: inherit;
    top: -5px;
}

#ceas .cifre .d4:after {
    border-width: 0 0 5px 5px;
    border-left-color: inherit;
    bottom: -5px;
}

#ceas .cifre .d5 {
    width: 5px;
    height: 14px;
    top: 7px;
    right: 0;
}

#ceas .cifre .d5:before {
    border-width: 0 0 5px 5px;
    border-bottom-color: inherit;
    top: -5px;
}

#ceas .cifre .d5:after {
    border-width: 5px 0 0 5px;
    border-top-color: inherit;
    bottom: -5px;
}

#ceas .cifre .d6 {
    width: 5px;
    height: 14px;
    top: 32px;
    left: 0;
}

#ceas .cifre .d6:before {
    border-width: 0 5px 5px 0;
    border-bottom-color: inherit;
    top: -5px;
}

#ceas .cifre .d6:after {
    border-width: 0 0 5px 5px;
    border-left-color: inherit;
    bottom: -5px;
}

#ceas .cifre .d7 {
    width: 5px;
    height: 14px;
    top: 32px;
    right: 0;
}

#ceas .cifre .d7:before {
    border-width: 0 0 5px 5px;
    border-bottom-color: inherit;
    top: -5px;
}

#ceas .cifre .d7:after {
    border-width: 5px 0 0 5px;
    border-top-color: inherit;
    bottom: -5px;
}


/* 1 */

#ceas .cifre div.one .d5,
#ceas .cifre div.one .d7 {
    opacity: 1;
}

/* 2 */

#ceas .cifre div.two .d1,
#ceas .cifre div.two .d5,
#ceas .cifre div.two .d2,
#ceas .cifre div.two .d6,
#ceas .cifre div.two .d3 {
    opacity: 1;
}

/* 3 */

#ceas .cifre div.three .d1,
#ceas .cifre div.three .d5,
#ceas .cifre div.three .d2,
#ceas .cifre div.three .d7,
#ceas .cifre div.three .d3 {
    opacity: 1;
}

/* 4 */

#ceas .cifre div.four .d5,
#ceas .cifre div.four .d2,
#ceas .cifre div.four .d4,
#ceas .cifre div.four .d7 {
    opacity: 1;
}

/* 5 */

#ceas .cifre div.five .d1,
#ceas .cifre div.five .d2,
#ceas .cifre div.five .d4,
#ceas .cifre div.five .d3,
#ceas .cifre div.five .d7 {
    opacity: 1;
}

/* 6 */

#ceas .cifre div.six .d1,
#ceas .cifre div.six .d2,
#ceas .cifre div.six .d4,
#ceas .cifre div.six .d3,
#ceas .cifre div.six .d6,
#ceas .cifre div.six .d7 {
    opacity: 1;
}


/* 7 */

#ceas .cifre div.seven .d1,
#ceas .cifre div.seven .d5,
#ceas .cifre div.seven .d7 {
    opacity: 1;
}

/* 8 */

#ceas .cifre div.eight .d1,
#ceas .cifre div.eight .d2,
#ceas .cifre div.eight .d3,
#ceas .cifre div.eight .d4,
#ceas .cifre div.eight .d5,
#ceas .cifre div.eight .d6,
#ceas .cifre div.eight .d7 {
    opacity: 1;
}

/* 9 */

#ceas .cifre div.nine .d1,
#ceas .cifre div.nine .d2,
#ceas .cifre div.nine .d3,
#ceas .cifre div.nine .d4,
#ceas .cifre div.nine .d5,
#ceas .cifre div.nine .d7 {
    opacity: 1;
}

/* 0 */

#ceas .cifre div.zero .d1,
#ceas .cifre div.zero .d3,
#ceas .cifre div.zero .d4,
#ceas .cifre div.zero .d5,
#ceas .cifre div.zero .d6,
#ceas .cifre div.zero .d7 {
    opacity: 1;
}


/* The dots */

#ceas .cifre div.dots {
    width: 5px;
}

#ceas .cifre div.dots:before,
#ceas .cifre div.dots:after {
    width: 5px;
    height: 5px;
    content: '';
    position: absolute;
    left: 0;
    top: 14px;
}

#ceas .cifre div.dots:after {
    top: 34px;
}


/*  Alarma */
#ceas .alarma {
    width: 16px;
    height: 16px;
    bottom: 20px;
    background: url('../img/alarm_light.jpg');
    position: absolute;
    opacity: 0.2;
}

#ceas .alarma.active {
    opacity: 1;
}


/*-------------------------
	Weekdays
--------------------------*/

#ceas .weekdays {
    font-size: 12px;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-align: center;
}


#ceas .weekdays span {
    opacity: 0.2;
    padding: 0 10px;
}

#ceas .weekdays span.active {
    opacity: 1;
}


/*-------------------------
		AM/PM
--------------------------*/

#ceas .zinoapte {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
}


/*-------------------------
		Button
--------------------------*/

.button-holder {
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
}

a.buton {
    background-color: orangered;

    border: 1px solid orangered;
    border-radius: 2px;

    box-shadow: 0 2px 2px #ccc;

    color: #fff;
    text-decoration: none !important;
    padding: 15px 20px;
    display: inline-block;
    cursor: pointer;

    position: relative;
    z-index: 1;
}

/* a.button:hover {
    opacity: 0.9;
} */

.alarm-button {
    display: hidden;   
    color: azure; 
    margin-top: 5px;
    width: 100px;
    height: 22px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

a:hover + .alarm-button, .alarm-button:hover{
    position: relative;
    color: white;
    background-color: orangered;
}


/*-------------------------
	Alarm Dialog
--------------------------*/

.panou-alarma {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: darkgrey;
    z-index: 10;
}

#msg-alarma, #time-is-up {
    width: 500px;
    height: 375px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -250px;
    text-align: center;
    zoom: 1;    
}

/* @media only screen and (max-width: 500px) {
    #alarm-dialog,
    #time-is-up {
        background-color: red;
        zoom: 0;        
    }
} */

#msg-alarma h2 {
    text-transform: uppercase;
    font-size: 18px;
    color: #5e6268;
    padding: 50px 0;
}

#msg-alarma label {
    text-transform: uppercase;
    background-color: lightgray;
    width: 80px;
    height: 62px;
    font-size: 11px;
    display: inline-block;
    padding: 10px;
    margin: 4px;
}

#msg-alarma label input {
    display: block;
    border: 0;
    font: inherit;
    font-size: 17px;
    padding: 6px;
    outline: none;
    text-align: center;
    width: 59px;
    margin: 10px auto;
    background-color: white;
}

#msg-alarma .button-holder {
    padding-top: 50px;
    padding-bottom: 0;
}

#msg-alarma .button-holder .buton {
    box-shadow: 0 2px 2px #eee;
    padding: 13px 22px;
    margin: 3px;
}

.buton.blue {
    background-color: blue;


    border-color: blue;
}

#msg-alarma .close {
    width: 36px;
    height: 36px;
    background: url('../img/close.png');
    position: absolute;
    top: -18px;
    right: -18px;
    cursor: pointer;
}


#time-is-up {
    height: 240px;
}

#time-is-up h2 {
    padding: 60px 0 40px;
    font-size: 30px;
}

#time-is-up .buton {
    padding: 12px 20px;
    box-shadow: 0 2px 2px #eee;
}
